<form [formGroup]="userForm" (ngSubmit)="updateForm()">
  <div>
    <div>
      <label>Username</label>
      <input type="text" formControlName="userName" required />
      <app-errorMessage [control]="userForm.get('userName')"></app-errorMessage>
    </div>
    <div>
      <label>Email</label>
      <input type="email" formControlName="email" required />
      <app-errorMessage [control]="userForm.get('email')"></app-errorMessage>
    </div>
    <div>
      <label>Password</label>
      <input type="password" formControlName="password" required />
      <app-errorMessage [control]="userForm.get('password')"></app-errorMessage>
    </div>
    <div>
      <label>Age</label>
      <input type="text" formControlName="age" required />
      <app-errorMessage [control]="userForm.get('age')"></app-errorMessage>
    </div>
    <div>
      <h2>ADDRESS</h2>
      <button (click)="createAddress()">Add New Address</button>

      <ng-container
      *ngFor="let fg of userForm.controls.addresses?.value; let i = index; let c = count"
    >
      <div [formGroup]="i" class="address-item">
        <div>
          <button (click)="removeAddress(i)" [disabled]="c == 1">
            remove
          </button>
          <label>name</label>
          <input type="text" formControlName="name" />
          <app-errorMessage
            [control]="i.get('name')"
          ></app-errorMessage>
        </div>
        <div>
          <label>country</label>
          <input type="text" formControlName="country" />
          <app-errorMessage
            [control]="i.get('country')"
          ></app-errorMessage>
        </div>
        <div>
          <label>city</label>
          <input type="text" formControlName="city" />
          <app-errorMessage
            [control]="i.get('city')"
          ></app-errorMessage>
        </div>
        <div>
          <label>town</label>
          <input type="text" formControlName="town" />
        </div>
      </div>
    </ng-container>
      <button type="submit">SAVE</button>
    </div>
  </div>
</form>

<p>Form Status: {{ userForm.status }}</p>
